/*
Name: Bowie Fitzpatrick
File: style.css
Date: 3rd March 2026
Text styling a community school homepage
*/


/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}

/* Apply fonts to the page */
/* Choose heading and body fonts to apply to the page. */
@import "https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap";

/* Apply body font to the whole page and your heading
    font to your headings. */
html {
  font-family: "PT Serif", serif;
}

h1, h2 {
  font-family: "Dm Serif Display", serif;
}

/* General text styling */
/* Give headings and other element types appropriate
    font-sizes defined using a suitable relative
    unit. */
/* Give headings and body text some letter-spacing
    to make them not too squashed. */
/* Center top level heading on the page. */
h1 {
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 2px;
}

/* Remove the bottom margin from second-level headings. */
h2 {
  font-size: 2rem;
  margin-bottom: 0;
  letter-spacing: 2px;
}

/* Give body text a suitable line-height. */
p, li {
  line-height: 1.3;
  letter-spacing: 0.4px;
}

/* Give the first paragraph after each heading in
    the <section> 2rem. */
section h2 + p {
  text-indent: 2rem;
}

/* Link styling */
/* Give the link, visited, focus, and hover states
    some colors that go with the color of the
    horizontal bars at the top and bottom of the
    page. */


/* Make it so that links are underlined by default,
    when you hover or focus them the underline
    disappears. */
    
/* Remove the default focus outline from all links
    on the page. */

/* Make it so that external links have the external
    link icon inserted into the right of them. */

/* List styling */
/* Make sure the spacing of the lists and list items
    works well with the styling of the page. Each
    list should have the same line-height and top
    and bottom margin as the paragraphs. */

/* Give the list items appropriate bullet styles for
    the design of the page. */

/* Nav menu styling */
/* Make the links look like buttons which are as
    wide as the column they are in, and tall
    enough that the nav items fill a decent amount
    of space. */

/* Apply the same font to the nav link as applied
    to the headings. */

/* Make sure the hit area of each link is expanded
    to fill the entirety of its parent list item. */

/*Center the text inside each link. */

/* Uppercase the text */